# Ignore frontend dependencies and build outputs
/frontend/node_modules
/frontend/.next
/frontend/out
/frontend/build

# Ignore frontend environment files
/frontend/.env
/frontend/.env*.local

# Ignore misc files in frontend
/frontend/.DS_Store
/frontend/*.pem
/frontend/next-env.d.ts
/frontend/*.tsbuildinfo
/frontend/serviceAccountKey.json
/frontend/.vercel

# Testing
/frontend/coverage

# Logs
/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*
/frontend/.pnpm-debug.log*

# PnP
/frontend/.pnp
/frontend/.pnp.js
